:root {
    --theme-color: #2e2751;
}

.logo {
    filter: brightness(0) invert(1);
    height: 50px;
}

.bg-theme {
    background-color: var(--theme-color);
}

.text-theme {
    color: var(--theme-color);
}
